openai==0.27.0
faiss-cpu==1.7.4
sentence-transformers==2.2.2
langchain==0.2.17
langchain-community==0.2.17
transformers==4.29.0
huggingface_hub==0.14.1
accelerate==0.19.0
pdfplumber==0.10.1
python-dotenv==1.0.0
numpy==1.21.6
streamlit==1.24.1
dotenv